f_a_ws/build
f_a_ws/install
f_a_ws/log
f_a_ws/src/first_package/resource
f_a_ws/src/first_package/test
f_a_ws/src/first_package/setup.py
f_a_ws/src/first_package/setup.cfg
f_a_ws/src/first_package/package.xml
f_a_ws/src/first_package/launch/__pycache__
f_a_ws/src/first_package/launch/build
f_a_ws/src/first_package/launch/install
f_a_ws/src/first_package/launch/log

s_a_ws/build
s_a_ws/install
s_a_ws/log
s_a_ws/src/first_package/resource
s_a_ws/src/first_package/test
s_a_ws/src/first_package/setup.py
s_a_ws/src/first_package/setup.cfg
s_a_ws/src/first_package/package.xml
s_a_ws/src/first_package/launch/__pycache__
s_a_ws/src/first_package/launch/build
s_a_ws/src/first_package/launch/install
s_a_ws/src/first_package/launch/log

t_a_ws/build
t_a_ws/install
t_a_ws/log
t_a_ws/src/first_package/resource
t_a_ws/src/first_package/test
t_a_ws/src/first_package/setup.py
t_a_ws/src/first_package/setup.cfg
t_a_ws/src/first_package/package.xml
t_a_ws/src/first_package/launch/__pycache__
t_a_ws/src/first_package/launch/build
t_a_ws/src/first_package/launch/install
t_a_ws/src/first_package/launch/log